/* ============glabal section Start================== */
/* ============================== */
/* ======google fonts======= */
body{
    font-family: 'Poppins', sans-serif;
}


h1,h2{
    color:#fff;
}
/* p{
    color:#fff;
    font-size: 17px;
    word-spacing: 2px;
} */
/* ============================== */
/* =============global section end================= */



/* **************Navebar Section Start**************** */
.nav-section{
    background-color: #c99c0a;
}
.nav-item{
    font-size: 18px;
}
.top-menu-item{
    color:#fff;
}
/* **************Navebar Section End**************** */



/* **************Main Bannar Section Start**************** */
.main-bannar-font{
    color:#fff;
}

.main-bannar{
    background-color: #fcc302;
}
/* **************Main Bannar Section Start**************** */




/* **************Second Section Start**************** */
.blue-font{
    color:#313243;
}

.second-section-image{
    box-shadow: 0 4px 8px 0 rgba(201, 204, 8, 0.2), 0 6px 20px 0 rgba(226, 212, 17, 0.877);
}
/* **************Second Section End**************** */


/* **************Third Section Start**************** */
.third-section{
    background-color: #fcc302;
}

.service-details{
    text-align: justify;
}
/* **************Third Section End**************** */



/* *************************Fourth Section***************************** */



/* ***************************Fifth Section Start********************************** */
.buy-now-button{
    border-radius: 20px;
}
/* ***************************Fifth Section End********************************** */



/* ***************************Sixth Section Start********************************** */


/* ***************************Sixth Section End********************************** */


/* ***************************Counter Section Start********************************** */
.counter-section{
    background-color: #fcc302;
}


/* ***************************Counter Section End********************************** */


/* ***************************Blog Section Start********************************** */
.date-color{
    color:  #00bec9;
}

.read-more-button{
    background-color: #00bec9;
    color: #fff;
    width: 100%;
}

.read-more-button:hover {
    background-color: #fff;
    border: 1px solid #00bec9;
    color: #00bec9;
}
/* ***************************Blog Section End********************************** */


/* *********************************Footer Section Start******************************************** */
.footer-section{
    background-color: #343434;
}

a{
    text-decoration:none;
    color: #fff;
}

.footer-third-column{
    text-align: right;
}

/* .footer-third-column-src{
    text-align: right;
} */

.input-box{
    background-color: #fcc302;
}

.social-icons{
    font-size: 25px;
    color:#fcc302
}

.social-icons:hover{
    font-size: 30px;
    color: #00bec9;
}
/* **********************************Footer Section End******************************************* */